.btn {
  border: none;
  border-radius: 5px;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 300;
  line-height: 1;
  outline: none;
  padding: $s-size;
  text-decoration: none;
  transition: all .2s;
}

.btn--primary {
  background-color: $blue-jeans;
  color: #fff;

  &:hover {
    background-color: darken($blue-jeans, 2%);
  }
}

.btn--secondary {
  background-color: $slush-grey;
  color: #fff;

  &:hover {
    background-color: darken($slush-grey, 2%);
  }
}

.btn--quiet {
  background-color: transparent;
  color: currentColor;
  transition: all .3s;

  &:hover {
    // To animate, I'm faking the border ;)
    box-shadow: 0 0 0 1px currentColor;
  }
}

.btn--negative {
  background-color: $red;
  color: #fff;

  &:hover {
    background-color: darken($red, 2%);
  }
}
