.btn {
  border: none;
  border-radius: 3px;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 300;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;
}

.btn--primary {
  background-color: $blue-jeans;
  color: #fff;

  &:hover {
    background-color: darken($blue-jeans, 2%);
  }
}

.btn--secondary {
  background-color: $slush-grey;
  color: #fff;

  &:hover {
    background-color: darken($slush-grey, 2%);
  }
}
