.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: $m-size;

  @media (min-width: $desktop-breakpoint) {
    flex-direction: row;
  }
}

.input-group > * {
  margin: 0 0 $s-size 0; // margin bottom

  &:last-child {
    margin: 0;
  }

  @media (min-width: $desktop-breakpoint) {
    margin: 0 $s-size 0 0; // margin right
  }
}
