// only target divs that are direct decendents, not the children of children
.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  align-items: center; // centers vertically
  display: flex;
  justify-content: center; // centers horizontally
  transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0; // transition in OptionModal.jsx -> closeTimeoutMS={200}
}

.modal {
  border-radius: 3px;
  background: fade-out($slush-grey, .25);
  color: white;
  max-width: 30rem;
  outline: none; // remove the border around the box
  padding: $l-size;
  text-align: center;
}

.modal__title {
  margin: 0 0 $m-size 0; // bottom large
}

.modal__body {
  font-size: 2rem;
  font-weight: 300;
  margin: 0 0 $m-size 0; // largin bottom large
  word-break: break-all; // break really long words
}

.modal__btn {
  border: 1px solid $dark-grey;
  margin: $m-size $s-size .5rem $s-size;
  padding: $s-size $l-size;
}
